<div class="masthead">
  <div class="masthead-img-wrap">
    <img src="/images/banner3.jpeg">
  </div>
  <div class="mast-container">
    <h3 class="masthead-title">
      <img src="/images/logo_small.png" width=40px>
      <a href="/" title="Home">{{ site.title }}</a>
      <small>{{ site.tagline }}</small>
    </h3>
  </div>

</div>
  <div class="mast-navbar-item">
    {% assign pages_list = site.pages | sort:"url" %}
    <a href="/">Home</a>
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a {% if page.url == node.url %}class="active"{% endif %}href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>