<div class="permabar">
	<label for="sidebar-checkbox" class="sidebar-toggle"></label>

	<script>
	  (function(document) {
	    var toggle = document.querySelector('.sidebar-toggle');
	    var sidebar = document.querySelector('#sidebar');
	    var checkbox = document.querySelector('#sidebar-checkbox');

	    document.addEventListener('click', function(e) {
	      var target = e.target;

	      if(!checkbox.checked ||
	         sidebar.contains(target) ||
	         (target === checkbox || target === toggle)) return;

	      checkbox.checked = false;
	    }, false);
	  })(document);
	</script>
	<div id="philtwit">
	<a href="https://twitter.com/intent/follow?screen_name=90PlusOfBlue" id="philtwit"><img src="/images/twitbutton.png"></a></div>
	
	<div id="philfb">
	<div class="fb-like" data-href="https://www.facebook.com/pages/Ninety-Plus-of-Blue/" data-width="30" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true"></div></div>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>